<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
     <!--  
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a> 
     -->
        
     <!-- 
        <p >
         <img src="assets/images/parijataA.svg" align="left"  style="repeat"> <img src="assets/images/bellsA.svg" ><img src="assets/images/parijataA.svg" style="background-repeat:repeat-x"> 
        </p>
     -->
     <!--        
         <h2>   <img src="assets/images/bellsA.svg" >  <img src="nav-bg.gif" > <img src="assets/images/bellsA.svg" ></h2>
         <h1><img src="assets/images/bellsA.svg" >{{ site.title | default: site.github.repository_name }}<img src="assets/images/bellsA.svg" ></h1>
         <p align="center">
            <img src="nav-bg.gif" >
         </p>   
         <pre> This is to see pre 
        
        how it is set up
        </pre>
      -->
        {% if site.logo %}
          <h1> <img src="{{site.logo | relative_url}}" alt="Logo" /></h1>
        {% endif %}
        <h1> <img src="{{site.logo | relative_url}}" alt="Logo"/>  {{ site.title | default: site.github.repository_name }} <img src="{{site.logo | relative_url}}" alt="Logo"</h1>
         
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
       <table>
          <tr>
            <td>  Pepper/Fenugreek<br><img src="assets/images/seed1.svg" >
            </td>
            <td>  Mustard/Cumin<br><img src="assets/images/seed2.svg" >
            </td>
            <td>  Sesame/Coriander<br><img src="assets/images/seed4.svg" >
            </td>
            <td>  sheanut<br><img src="assets/images/sheanut.svg" >
            </td>
            <td>  cacaonut<br><img src="assets/images/cacaonut.svg" >
            </td>
         </tr>   
         
      <tr>
        <td>
            <img src="assets/images/pepper.svg"><img src="assets/images/fenugreek.svg">
         </td>
         <td>
            <img src="assets/images/mustard.svg"> <img src="assets/images/cumin.svg">
          </td>
          <td>
            <img src="assets/images/Sesame.svg"> <img src="assets/images/cilantro.svg">
          </td>
          <td>
            <img src="assets/images/sheatree.svg">
           </td>
           <td>
            <img src="assets/images/cocoatree.svg">
           </td>
      </tr>
       </table>
 
        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
       <!--     <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>GitHub</a> -->
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

   <style>
      footer {
	      bottom: 15px;
        text-align: center;
      }
  </style>
      
    <footer>     
        <p align="center"><medium>Created on <a href="https://pages.github.com">GitHub Pages</a> by ramacsv</medium></p>
      </footer>
    
  </body>
</html>
